set role authenticated; set request.jwt.claims='{\
sub\:\00000000-0000-0000-0000-000000000002\}'; select is_super_admin(); select is_staff('aaaa0000-0000-0000-0000-000000000001'); select id from profiles where id = '00000000-0000-0000-0000-000000000004';
